.petCard {
    display: flex;
    flex-direction: column;
    height: 300px;
    border-radius: 3px;
    border: 1px hidden black;
    float: left;
    margin: 5px;
    max-width: 400px;
    align-items: center;
    position: relative;
}

.imgContainer {
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
}

.badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(179, 0, 0);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transform: translate(50%, -50%);
}

@media screen and (max-width: 830px) {
    .petCard {
        max-height: 200px;
    }
}

