/* correct typeface */
@font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff2') format('woff2'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.container {
max-width: 800px;
margin:0 auto;
padding: 20px;
text-align: center;
}

body{
    font-family:'Roboto';
}

/* this is the top banner for changing the settings */
button{
    margin-top: 5px;
    padding: 10px 20px;
    background-color: #2596be;
    color: white;
    border: none;
    cursor: pointer;
}


/* on click, this setting makes the current page turn yellow */
button.active {
  background-color: #ffcc4c; 
  color: black; 
}


/* This is the button on the text message and AI screen */
.submit-btn{
    width: 150px;
    padding: 10px 20px;
    background-color: #2596be;
    color: white;
    border: none;
    cursor: pointer;
    margin: 25px auto;
}

/* This is the little trashcan icon */
.delete-button{
  color: #000000;
  background-color: #ffffff;
  font-size: 8px;
  margin-left: 10px;
}

/* This is the breadcrumbs header */
.admin-header{
 
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* This adjusts the space between the yellow/blue header and the gray box  */
.adminSettings-banner{

  margin-top: 20px;
  margin-bottom: 20px;
}

.gray-box{
  position: relative;
  padding: 20px;
  margin: auto;
  background-color: #fff;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 4px 4px 4px 4px;
  height: 650px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 430px;
  border: 1px solid #E5E5E5;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* This is the align for the edit buttons */
.edit-button{
  margin-top: auto;
  margin-left: auto;
}

/* This makes the question list grow upward and scroll with the gray box  */
.list{
  list-style-type: none;
  margin-bottom: 20px;
  flex-grow: 1;
  overflow-y: auto;
}

/* This is spacing for the pet questions */
.list-margin{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:25px;
}

/* This is the settings for the Adjust Questions input box */
.question-input-box{
  align-self: flex-start;
  width:380px;
}

/* This is the settings for the Add Question button */
.add-question {
  right: 20px;
  padding: 10px 20px;        
  background-color: #2596be; 
  color: white;              
  border: none;             
  cursor: pointer;          
  width: auto;                
  margin-top: 10px;
  margin-bottom: 30px;
  align-self: flex-end;
}

/* this is the outside container to make the submit and cancel buttons sit nicely on the same line*/
.button-container {
  width: 100%;
  text-align: center;
}

/* this is the inside container to make the submit and cancel buttons sit nicely on the same line*/
.align-button {
  display:inline-block;
  margin: 36px;
}
/* all individual submit and cancel buttons are classed differently in case anyone wants to change a particular color*/

/* modal styling */
.modal {
  width: 80%; 
max-width: 600px; 
margin: auto; 
border-radius: 15px; 
}

.modalContent {
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editText {
  display: flex;
  justify-content: center;
}

.textInput {
  width: 100%;
  margin: 10px 10px 10px 0px !important;
}

/* 
mobile responsive styling */
@media only screen and (max-width: 600px) {
  .container {
    width: 90%;            
    max-width: 800px;      
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .admin-header {
    font-size: 20px;
  }

  .body {
    max-width: 400px;
  }

  .gray-box {
    width: 450px;
    padding: 15px;
  }

  .modal {
    width: 100%; 
    max-width: 450px; 
  }
.modalContent {
    width: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
}